<div id="player_list">
<fieldset><legend>Players included in the group</legend>
<div id="players_in_group_list">
	<table>
		<tr>
			<th>Name</th><th>autoinvite</th><th>autoaccept</th><th>action</th>
		</tr>
		<% group.players.each do |player| %>
		<tr>
		<tr id="player_<%= player.id %>">
			<td><%= player.name %> </td>
			<td> 
			<%= autoinvite_text = group.groupings.find_by_player_id(player).autoinvite ? "yes" : "no"
			 	link_to_remote autoinvite_text, :update => 'player_list',
							   :url => {:controller => :groups,
										:action => 'toggle_autoinvite',
										:id => group,
										:player_id => player }
			%></td>
			<td>
			<%= autoaccept_text = group.groupings.find_by_player_id(player).autoaccept ? "yes" : "no" 
				link_to_remote autoaccept_text, :update => 'player_list',
								:url => {:controller => :groups,
										 :action => 'toggle_autoaccept',
										 :id => group,
										 :player_id => player }										
			%>
			</td>
			<td>
			<%= link_to_remote "Remove", :update => 'player_list', 
							   :url => {:controller => :groups,
										:action => 'remove_player',
										:id => group,
										:player_id => player }	%>
			</td>
		</tr>
		<% end %>
	</table>
	
	<%= link_to 'Email them all', prepare_mail_path(:recipients => group.players.map(&:email).join(',')) %>
</div>
</fieldset>
<br>
<fieldset><legend>Players <strong>not</strong> included in the group</legend>
<div id="players_not_in_group_list">
	<ul>
		<% group.players_not_in_group.each do |player| %>
		<li id="player_<%= player.id %>">
			<strong>name</strong>: <%= player.name %> 
			<%= link_to_remote "Add", :update => 'player_list', 
							   :url => {:controller => :groups,
										:action => 'add_player',
										:id => group,
										:player_id => player }	%>
		</li>
		<% end %>
	</ul>
	
	<%= link_to 'Email them all', prepare_mail_path(:recipients => group.players_not_in_group.map(&:email).join(',')) %>
</div>
</fieldset>
</div>
