<h1>Groups</h1>

<table>
  <tr>
	<th>Name</th>
  </tr>

<% for group in @groups %>
  <tr>
	<td><%=h group.name %></td>
	<td><%= link_to 'Last', group_last_match_path(group) %>
    <td><%= link_to 'Current', group_current_match_path(group) %></td>
	<td><%= link_to 'Matches', group_matches_path(group) %>
    <td><%= if_authorized?( group_path(group) ) 		{ |opts| link_to 'Show', opts } %></td>
    <td><%= if_authorized?( edit_group_path(group) ) 	{ |opts| link_to 'Edit', opts } %></td>
    <td><%= if_authorized?( :controller => :groups, :action => :destroy, :id => group ) { |opts| link_to 'Destroy', opts.merge( :confirm => 'Are you sure?' ) } %></td>
  </tr>
<% end %>
</table>

<br />

<%= if_authorized?(:action => 'new') { link_to 'New group', new_group_path } %>
