<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :user_id %><br />
  <%= collection_select :player, :user_id, User.find(:all), :id, :login, {:prompt => true}  %>
</p>
<p>
  <%= form.label :email %><br />
  <%= form.text_field :email %>
</p>
<p>
  <%= form.label :address %><br />
  <%= form.text_field :address %>
</p>
<p>
  <%= form.label :phone %><br />
  <%= form.text_field :phone %>
</p>
