<h1>Listing players</h1>

<table>
  <tr>
    <th>Name</th>
 	<th title="<%= player_fields_summary_description %>">Other fields</th>
   <th>Autoinvitations</th>
  </tr>
<% for player in @players %>
  <tr>
    <td><%=h player.name %></td>
	<td><%=h player_fields_summary(player) %>
    <td>[<%=h player.groups_with_autoinvitations.map { |g| g.name }.join(',') %>]</td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New player', new_player_path %><br>
<%= link_to 'Email them all', prepare_mail_path(:recipients => @players_emails) %>
<%= link_to 'List of addresses', players_path(:format => :txt) %>
