<p>
  <b>Name:</b>
  <%=h @player.name %>
</p>

<p>
  <b>User:</b>
  <%=h @player.user.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @player.email %> <%= "(inferred)" if @player[:email].blank? %>
</p>

<p>
  <b>Invite always:</b>
  <%=h @player.invite_always %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
