<div class="info">
<p>
  <b>Name:</b>
  <%=h @player.name %>
</p>

<p>
  <b>User:</b>
  <%=h(@player.user.login) unless @player.user.nil? %>
</p>

<p>
  <b>Email:</b>
  <%=h @player.email %> <%= "(inferred)" if @player[:email].blank? %>
</p>
<p>
  <b>Birth date:</b>
  <%=h @player.birth_date %>
</p>
<p>
  <b>Birth place:</b>
  <%=h @player.birth_place %>
</p>
<p>
  <b>Address:</b>
  <%=h @player.address %>
</p>

<p>
  <b>Phone:</b>
  <%=h @player.phone %>
</p>
</div>