<div id="player_list">
	<div id="invitations">
		<h2>Invitations</h2>
		<div class='status'>
			<span class="header">Accepted</span>
			<% ap_invitations = @match.invitations_with_additional_players %>
			<%= render :partial => 'matches/players_list_generic', :locals => {:invitations => @match.accepted_invitations,
																			   :additional_players_invitations => ap_invitations 
																			   } %>			
		</div>
		
		<div class='status'>
			<span class="header">Rejected</span>			
			<%= render :partial => 'matches/players_list_generic', 
					   :locals => { :invitations => @match.rejected_invitations,
									:quota_class => 'none' } %>
		</div>
		
		<div class='status'>
			<span class="header">Pending</span>
			<%= render :partial => 'matches/players_list_generic', 
					   :locals => { :invitations => @match.unresponded_invitations,
									:quota_class => 'none' } %>		
		</div>
	</div>

	<% if_authorized?(:controller => :matches, 
					   :action => :invite_player, 
					   :id => @match) do |opts| %>
					
		<div id="uninvited players">		
			<h2>Uninvited players</h2>
			<% @match.uninvited_players.each do |player| %>
				<% div_for player do %>
					<%= player.name %> 
					<%= link_to_remote "Invite", :url => url_for(opts.merge(:player_id => player)), :update => 'player_list' %>
				<% end %>
			<% end %>
		</div>

	<% end %>

	<div id="info"></div>
	<%= render :partial => 'layouts/flash', :locals => { :messages => { :error => error } } if defined? error %>
</div>
