<div id="player_list">
	<div id="invited players">
		<h2>Invited players</h2>
		<% for invitation in @match.invitations do %>
			<% div_for invitation.player do %> 
				<%= invitation.player.name %> (<%= invitation.status %>)
				<%= link_to_remote "Un-invite", :url => url_for(:controller => :matches,
				  							 				 :action => :uninvite_player,
															 :id => @match,
				 							 				 :player_id => invitation.player),
											 :update => 'player_list' %>
			<% end %>
		<% end %>
	</div>

	<div id="uninvited players">
		<h2>Uninvited players</h2>
		<% for player in (Player.find(:all) - @match.players) do %>
			<% div_for player do %>
				<%= player.name %> 
				<%= link_to_remote "Invite", :url => url_for(:controller => :matches,
				  							 				 :action => :invite_player,
															 :id => @match,
				 							 				 :player_id => player),
											 :update => 'player_list' %>
			<% end %>
		<% end %>
	</div>
</div>
