<%
	user_can_uninvite         =  authorize_action?(:controller => :matches, :action => :uninvite_player, :id => @match )
	user_can_force_acceptance =  authorize_action?(:controller => :invitations, :action => :force_accept )
	user_can_force_rejection  =  authorize_action?(:controller => :invitations, :action => :force_reject )
	user_can_perform_actions  =  user_can_uninvite || user_can_force_rejection || user_can_force_acceptance

%>

<table>
	<tr>
	<th>#</th>
	<th>player</th>
	<th>#mail</th>
	<th>status</th>
	<th>#brought</th>
	<%= '<th colspan=4>action</th>'  if user_can_perform_actions %>
	</tr>
	
	<% index = 0 %>
	<% invitations.each do |invitation| %>
		<%
			index += 1
			quota_class ||= (index <= @match.max_players && 'inquota') || 'overquota'
		%>
	
		<tr class="player <%= invitation.status %> <%=quota_class%>"> 
			<td><%= index %>.</td>
			<td><%= invitation.player.name %></td>
			<td class="numeric"><%= invitation.number_of_sent_mails%></td>
			<td><%= invitation.status %> <%= if invitation.status == 'accepted' then 'on '+invitation.accepted_at.to_s(:long) else '' end %></td>
			<td class="numeric"><%= invitation.num_additional_players %></td>
			<%= content_tag( :td, link_to_remote( "Un-invite", {
									:url => url_for(:controller => :matches, 
													:action => :uninvite_player, 
													:id => @match, 
													:player_id => invitation.player),
								    :update => 'player_list'} ) ) if user_can_uninvite  %>				
			<%= content_tag( :td, link_to_remote( "force accept", {
									:url => url_for(:controller => :invitations,
													:action => :force_accept,
													:id => invitation),
									:update => 'player_list' } )) if user_can_force_acceptance %>
			<%= content_tag( :td, link_to_remote( "force reject", {
									:url => url_for(:controller => :invitations,
													:action => :force_reject,
													:id => invitation),
													:update => 'player_list' } )) if user_can_force_rejection %>													
		</tr>				
	<% end %>
	<% additional_players_invitations.each do |invitation| %>
		<%= render :partial => 'matches/additional_players_list', :locals => { :match => @match, :invitation => invitation, :index => index }%>
		<% index += invitation.num_additional_players %>
	<% end unless !defined?(additional_players_invitations) %>
	
</table>

<%=
	if_authorized?( :controller => :mails, :action => :prepare ) do |opts|
		link_to 'Email them all', prepare_mail_path(:recipients => invitations.map { |i| i.player.email }.join(','))
	end
%>
