<h1>Listing matches</h1>

<table>
  <tr>
	<th>Location</th>
	<th>Date</th>
	<th>Time</th>
  </tr>

<% for match in @matches %>
  <tr>
	<td><%=h match.location.name %></td>
	<td><%= match.date.to_s(:short) %></td>
	<td><%= match.time %></td>
    <td><%= if_authorized?(:action => :show) { link_to 'Show', match }  %></td>
    <td><%= if_authorized?(:action => :edit) { link_to 'Edit', edit_match_path(match) } %></td>
    <td><%= if_authorized?(:action => :destroy) { link_to 'Destroy', match, :confirm => 'Are you sure?', :method => :delete } %></td>
  </tr>
<% end %>
</table>

<br />

<%= if_authorized?( :action => :new ) { link_to 'New match', new_group_match_path(@group) } %>
