<h1><%= @match.location.name %> on <%= @match.date.to_s(:short) %> at <%= @match.time.to_s %></h1>

<%= render :partial => 'players_list' %>

<br/>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>