<h1>Match summary</h1>
Where: <%= @match.location.name %> - <%= @match.location.address %> 
		(<%= link_to 'map', @match.location.google_link, :popup => true %>) <br/>
Date:  <%= @match.date.to_s(:short) %> <br/>
Time:  <%= @match.time.to_s %> <br/>
Current number of coming players: <%= @match.number_of_coming_players %>


<%= render :partial => 'players_list' %>

<br/>
<%= 
	autoinvite_link = 
		if_authorized?(	:controller => :matches, 
						:action => :autoinvite_players, 
						:id => @match) { |opts| link_to_remote('Autoinvite', :url => url_for(opts), :update => 'player_list') }
						 
	solicit_link = 
		if_authorized?(	:controller => :matches,
						:action => :solicit_players, 
						:id => @match) { |opts| link_to_remote('Solicit', :url => url_for(opts), :update => 'info' ) } 
	
	[autoinvite_link,solicit_link].compact.join(' | ') + '<br/>'
%>


<%= edit_link = if_authorized?(edit_match_path(@match)) { |opts| link_to( 'Edit', opts ) }
    back_link = if_authorized?(matches_path) { |opts| link_to( 'Back', matches_path ) } 

	[edit_link, back_link].compact.join(' | ') + '<br/>'
%>

