<h1>Match summary</h1>
Where: <%= @match.location.name %> - <%= @match.location.address %> 
		(<%= link_to 'map', @match.location.google_link, :popup => true %>) <br/>
Date:  <%= @match.date.to_s(:short) %> <br/>
Time:  <%= @match.time.to_s %> <br/>

<%= render :partial => 'players_list' %>

<br/>

<%= edit_link = if_authorized?(edit_match_path(@match)) { |opts| link_to( 'Edit', opts ) }
    back_link = if_authorized?(matches_path) { |opts| link_to( 'Back', matches_path ) } 
	if edit_link && back_link
		"%s | %s" % [edit_link,back_link]
	else
		edit_link || back_link
	end
%>

